<section class="phx-hero">
  <h1>
  <%= if @current_user do %>
    <%= gettext "Welcome to Jompeak, %{name}!", name: @current_user.username %>
  <% else %>
    <%= gettext "Welcome to Jompeak, Guest"%>
  <% end %>
  </h1>

  <%= link "+ Currency converter", to: "/users/new", class: "currency_converter" %>
  <%= link "+ Add debt record", to: "/add_debt/new", class: "add_debt_record" %>
</section>


