/* This file is for your main application css. */
@import "./phoenix.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.amount_owe_text_input{
  width:448px;
}

.currency_select{
  background-color: white;
}

.debtor_name_text_input{
  width:500px;
}

/*adding background to header*/
#header_color{
  background-color: #20C983;
  margin-top: -8px;
  margin-left: -9px;
  width: 102%;
}

.nav_link{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.nav_link:hover{
  color: #00ACB1;
}

.currency_converter{
    margin: auto;
    margin-top: 52px;
    display: block;
    font-size: 25px;
    text-align: center;
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out,opacity .3s ease-in-out;
    cursor: pointer;
    padding: 10px;
    border: 0 none;
    font-family: Quicksand;
    font-weight: 700;
    background: #1ed589;
    color: #fff;
    border-radius: 29px;
    width: 316px;
}

.add_debt_record{
    margin: auto;
    margin-top: 19px;
    display: block;
    font-size: 25px;
    text-align: center;
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out,opacity .3s ease-in-out;
    cursor: pointer;
    padding: 10px;
    border: 0 none;
    font-family: Quicksand;
    font-weight: 700;
    background: #1ed589;
    color: #fff;
    border-radius: 29px;
    width: 316px;
}

#update_form_payment_val{
  max-width: 20%;
}

#update_form_converted_val{
  max-width: 50%;
}
